@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Roboto";
}
.navbar {
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.navbar h1 {
  padding: 20px;
}
.center {
  text-align: center;
}
.right {
  padding: 20px;
  float:right;
  scale: 1.4;
}
.navbar a {
  padding: 7px;
  color: darkblue;
  text-decoration: none;
}
.navbar a:hover {
  color: red;
} 
/* .content {
  margin: 40px auto;
  max-width: 600px;
} */