body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Menu {
  margin-left: auto;
}

img {
  width: 300px;
}

.Name {
  margin-top: auto;
  padding: 50px 70px;
  font-size: 65px;
  font-family: "Courier New", Courier, monospace;
  color: #2E446C;
}

.Name .Role {
  font-size: 30px;
  margin-top: -55px;
}
