/* base styles */
* {
    margin: 0;
    font-family: "Roboto";
}

.projects {
    color:darkblue;
}
.projects .title {
    text-align: center;
    padding-bottom: 30px;
}
.flexbox {
    display: flex;
    justify-content: center;
    width: 100%;
}
.projectlist {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    color: white;
}
.projectbox {
    display: inline-block;
    /* width: 300px;
    height: 400px; */
    width: 300px;
    height: auto;
    padding: 20px 25px;
    overflow: hidden;
    background-color: black;
}
.projecttitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.projectdescription {
    text-align: start;
}
/* .timeline {
    color: darkblue;
}

.title {
    text-align: center;
    padding-bottom: 60px;
    font-size: 25px;
    color: darkblue;
}

.intro {
    display: flex;
    justify-content: space-around;
    padding-right: 275px;
    padding-left: 275px;
    padding-bottom: 70px;
    color: darkblue;
}

.line {
    width: 20%;
    border-top: 2px solid darkblue;
}

.top {
    padding-bottom: 60px;
}

.date {
    margin-left: 500px;
}

.name {
    margin-left: 175px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.description {
    max-width: 400px;
    margin-left: 100px;
}

.timeline img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 650px;
} */

