/* base styles */
* {
    margin: 0;
    font-family: "Roboto";
}

.title {
    text-align: center;
    padding-bottom: 40px;
    color: darkblue;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding-right: 275px;
    padding-left: 275px;
    padding-bottom: 30px;
    color: darkblue;
}

.line {
    width: 20%;
    border-top: 2px solid darkblue;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-right: 700px;
    padding-left: 275px;
}

.name {
    font-size: 60px;
}

